@model JQ.QA.Model.WF_Temp

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add a new workflow template</title>
    <script src="~/Scripts/kindeditor-4.0.5/kindeditor-min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Scripts/kindeditor-4.0.5/themes/default/default.css" rel="stylesheet" />
    <link href="~/Scripts/kindeditor-4.0.5/plugins/code/prettify.css" rel="stylesheet" />
    <script src="~/Scripts/kindeditor-4.0.5/lang/en.js"></script>
    <script type="text/javascript">
        KindEditor.ready(function (K) {
            var editor1 = K.create('#TempDescription', {
                cssPath: '~/Scripts/kindeditor-4.0.5/plugins/code/prettify.css',
                uploadJson: '~/Content/KinderEditor/asp.net/upload_json.ashx',
                fileManagerJson:
                    '~/Content/KinderEditor/asp.net/file_manager_json.ashx',
                allowFileManager: true,
                afterCreate: function () {
                    var self = this;
                }
            });


            var editor1 = K.create('#TempForm', {
                cssPath: '~/Scripts/kindeditor-4.0.5/plugins/code/prettify.css',
                uploadJson: '~/Content/KinderEditor/asp.net/upload_json.ashx',
                fileManagerJson:
                    '~/Content/KinderEditor/asp.net/file_manager_json.ashx',
                allowFileManager: true,
                afterCreate: function () {
                    var self = this;
                }
            });
            prettyPrint();

        })
    </script>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>WF_Temp</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.TempName, "Template Name")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TempName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TempName, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.TempDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.TempDescription, new { htmlAttributes = new { @class = "form-control" } })*@

                    <textarea id="TempDescription" cols="100" rows="8"
                              style="width:700px;height:200px;visibility:hidden;"
                              name="TempDescription"></textarea>

                    @Html.ValidationMessageFor(model => model.TempDescription, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.TempForm, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.TempForm, new { htmlAttributes = new { @class = "form-control" } })*@

                    <textarea id="TempForm" cols="100" rows="8"
                              style="width:700px;height:200px;visibility:hidden;"
                              name="TempForm"></textarea>
                    @Html.ValidationMessageFor(model => model.TempForm, "", new { @class = "text-danger" })
                </div>
            </div>
    
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
