@model JQ.QA.Model.WF_Temp
@using JQ.QA.Model

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show All Workflows</title>
    <link href="~/Content/tableStyle.css" rel="stylesheet" />
    @*<link href="~/Content/easyui.css" rel="stylesheet" />
    <link href="~/Content/JQEasyUI/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-en.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script type="text/javascript">

    </script>
</head>
<body>
    <div>
        <a href="/WFTemp/Add">Create new template</a>
        <table>
            <tr>
                <th>NO.</th>
                <th>Name</th>
                <th>Create Time</th>
                <th>Remark</th>
                <th>Status</th>
            </tr>
            @if (ViewData["list"] != null)
            {
                foreach (var temp in (List<WF_Temp>)ViewData["list"])
                {
            <tr>
                <td>@temp.ID</td>
                <td>@temp.TempName</td>
                <td>@temp.SubTime</td>
                <td>@temp.Remark</td>
                <td>@temp.TempStatus</td>
            </tr>
                }
            }
        </table>
    </div>

</body>
</html >
