@model JQ.QA.Model.WF_Instance
@using JQ.QA.Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Start an expense claim</title>

    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/kindeditor-4.0.5/kindeditor-min.js"></script>
    <link href="~/Scripts/kindeditor-4.0.5/themes/default/default.css" rel="stylesheet" />
    <link href="~/Scripts/kindeditor-4.0.5/plugins/code/prettify.css" rel="stylesheet" />
    <script src="~/Scripts/kindeditor-4.0.5/lang/en.js"></script>
    <link href="~/Scripts/kindeditor-4.0.5/plugins/code/prettify.js" rel="stylesheet" />





    <script type="text/javascript">
        KindEditor.ready(function (K) {
            var editor1 = K.create('#SubForm', {
                cssPath: '../../Scripts/kindeditor-4.0.5/plugins/code/prettify.css',
                uploadJson: '~/Content/KinderEditor/asp.net/upload_json.ashx',
                fileManagerJson:
                    '~/Content/KinderEditor/asp.net/file_manager_json.ashx',
                allowFileManager: true,
                afterCreate: function () {
                    var self = this;
                }
            });
            //prettyPrint();

        });
        function afterStart(data) {
            if (data == "ok ") {
                alert("Submit a claim successfully.")
            }
        }
    </script>
    @*<link href="~/Content/easyui.css" rel="stylesheet" />
        <link href="~/Content/JQEasyUI/themes/icon.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.7.1.min.js"></script>
        <script src="~/Scripts/jquery.easyui.min.js"></script>
        <script src="~/Scripts/easyui-lang-en.js"></script>
        <script src="~/Scripts/datapattern.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/Scripts/MyAjaxForm.js"></script>

        <script type="text/javascript">
            function afterStart() {
                if (data == "ok") {
                    alert("You have start a expense claiming workflow.")
                }
            }
        </script>*@
</head>
<body>
    <div>
        <h3 class="h3">
            Start a @{
                WF_Temp temp = ViewBag.Temp;
                @temp.TempName
            } workflow
        </h3>
        @using (Ajax.BeginForm(new AjaxOptions() { HttpMethod = "Post", OnSuccess = "afterStart" }))
        {
            <input type="hidden" name="hiddenTempId" value="@temp.ID" />

            <table class="table table-bordered table-striped">
                <tr>
                    <td width="10%">Title</td>
                    <td width="60%">
                        <input type="text" name="InstanceName" />
                    </td>
                </tr>

                <tr>
                    <td width="10%">Amount</td>
                    <td width="60%">
                        <input type="text" name="Amount" />
                    </td>
                </tr>

                <tr>
                    <td width="20%">Priority</td>
                    <td>
                        <select name="Level">
                            <option value="0">Normal</option>
                            <option value="1">Urgent</option>
                            <option value="2">Immediately</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td width="20%">Expire </td>
                    <td>
                        <input class="form-control" type="datetime-local" name="expireTime" value="2019-02-19T00:00:00" />
                    </td>
                </tr>

                <tr>
                    <td>Claim Content</td>
                    <td>
                        <textarea id="SubForm" cols="100" rows="8"
                                  style="width:700px;height:200px;visibility:hidden;"
                                  name="SubForm"> 
                        @temp.TempForm
                        </textarea>
                    </td>
                </tr>


                <tr>
                    <td>Flow To</td>
                    <td>
                        @Html.DropDownList("FlowTo")
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <input type="hidden" name="hidTempId" value="@ViewBag.TempId" />
                        <input type="submit" class="btn btn-default btn-primary" value="Submit" />
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>

